@use 'sass:color';
@use './darkly-variables';
@use './color-palette';

@use '@material/theme/index' as theme with (
  $primary: color-palette.$grey-200,
  $secondary: color-palette.$grey-400,
  $surface: color-palette.$grey-500,
  $on-surface: color-palette.$grey-50,
  $background: color-palette.$grey-900,
  $error: color-palette.$red-700
);

@use '@material/typography' with (
  $styles-headline6: (
    font-size: 11px,
    line-height: 16px
  )
);

@use '@material/typography/mdc-typography';

@use 'bootstrap/scss/bootstrap';
@use 'formiojs/dist/formio.form.css';


@use 'gridstack/dist/src/gridstack';
@use 'gridstack/dist/src/gridstack-extra';

@use './kit-colors';
@use './kit-typo';
@use './kit-grid';

:root {
  --primary: #{theme.$primary};
  --secondary: #{theme.$secondary};
  --surface: #{theme.$surface};
  --subsurface: #{darken(theme.$surface, 3%)};
  --on-surface: #{theme.$on-surface};
  --background: #{theme.$background};
  --error: #{theme.$error};
}

body,
#svelte {
  height: 100%;
  text-align: center;
  position: relative;
}
